.appBar {
  background-color: #25a0d5;
  color: azure;
}

.pageTemplate {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.pageTemplate-dark {
   background-color:#0B1340;
   color: azure;
}

.leftbar {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 10%;
  margin-right: 10%;
  
}

.midcontent {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  width: fit-content;
}


.box-title{
  margin: 10%;
}

.midBox {
  width: 100%;
  min-width: fit-content;
}
